alembic==1.11.2
Flask==2.3.2
Flask_Bcrypt==1.0.1
Flask_Cors==4.0.0
Flask_Login==0.6.2
Flask_Migrate==4.0.4
flask_sqlalchemy==3.0.5
Flask_WTF==1.1.1
oauthlib==3.2.0
pytest==7.4.0
python-decouple==3.8
Requests==2.31.0
SQLAlchemy==2.0.19
Werkzeug==2.3.0
WTForms==3.0.1
email_validator
