{% extends '_base.html' %} {% block content %}

<div class="row">
  <div class="col-lg-4">
    <form
      class="d-flex d-lg-none mt-3 mb-4"
      method="get"
      action="{{ url_for('core_view.search_poems') }}"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search by poem title..."
        name="search"
      />
      <button class="btn btn-outline-primary border-0 btn-sm" type="submit">
        Search
      </button>
    </form>

    <div class="d-none d-lg-block sticky-top" style="top: 100px">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    {% if search %}
    <h5 class="text-center mb-3">Showing results for '{{ search }}'</h5>
    <!-- <a href="{{ url_for('accounts_view.home') }}">Cancel search</a> -->
    {% endif %}
    {% for poem in poems %}
    <div class="card text-center border-secondary mb-5 poem-container" id="{{ poem.id }}">
      <div class="card-body">
        <h5 class="card-title">
          <a
            href="{{ url_for('core_view.get_poem', poem_id=poem.id) }}"
            class="link-info link-underline-opacity-10 link-underline-opacity-50-hover link-offset-2"
            >{{ poem.title }}</a
          >
        </h5>
        <p class="card-text" style="white-space: pre-wrap">{{ poem.body }}</p>

        <footer class="blockquote-footer text-end mb-0">
          <a
            href="{{ url_for('core_view.get_user_profile', username=poem.user.username) }}"
            class="text-white link-underline link-underline-opacity-10 link-underline-opacity-100-hover link-offset-2"
          >
            <i>{{ poem.user.username }}</i>
          </a>
        </footer>
      </div>
    </div>
    {% endfor %} {% if poems|length == 0 %}
    <p class="text-center">No poems found</p>
    {% endif %}
  </div>
  <div class="col-lg-4 d-lg-block d-none">
    <div class="sticky-top" style="top: 100px; width: 100%; z-index: 0">
      <form
        class="d-flex mt-3 mb-5"
        method="get"
        action="{{ url_for('core_view.search_poems') }}"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search by poem title..."
          name="search"
        />
        <button class="btn btn-outline-primary border-0 btn-sm" type="submit">
          Search
        </button>
      </form>

      <div class="card border-secondary">
        <div class="card-header">Themes</div>
        <div class="card-body">
          <!-- <p class="card-text">Themes you can search by</p> -->
          <ul class="list-inline">
            {% for theme in themes %}
            <li class="list-inline-item">
              <a class="btn btn-outline-primary btn-sm border-0 theme-btn m-2"
              id="{{ theme.id}}"
                >#{{ theme.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
