<footer class="text-center text-lg-start bg-body-secondary text-muted mt-auto">
  <div
    class="text-center p-4 pt-2"
    style="background-color: rgba(0, 0, 0, 0.05)"
  >
    <div class="row mb-1">
      <div class="col-3 col-md-4 col-lg-5"></div>
      <div class="col-6 col-md-4 col-lg-2">
        <a href="{{ url_for('accounts_view.home') }}">
          <img
            src="/static/images/logo-no-background.svg"
            class="img-fluid"
            alt="poetry galore"
          />
        </a>
      </div>
    </div>
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">Home Studios</a>
  </div>
</footer>
